/components/__pycache__
/components/button/__pycache__
/components/screen/__pycache__
/dialogs/__pycache__
/dialogs/actions/__pycache__
/main_window/__pycache__
/services/__pycache__
/tools/__pycache__
/utils/__pycache__
/tests/__pycache__
