/components/__pycache__
/components/button/__pycache__
/components/screen/__pycache__
/dialogs/__pycache__
/dialogs/actions/__pycache__
/main_window/__pycache__
/services/__pycache__
/tools/__pycache__
/utils/__pycache__
/tests/__pycache__
/__pycache__
/.vscode
/components/property_tab/__pycache__
/components/property_tab/button/__pycache__
/components/property_tab/image/__pycache__
/components/property_tab/line/__pycache__
/components/property_tab/polygon/__pycache__
/components/property_tab/scale/__pycache__
/components/property_tab/text/__pycache__
/tools/button/__pycache__
